<a href="https://colab.research.google.com/github/marthery/2022/blob/lab1/Homework0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nearly two-thirds of gun deaths are suicides.
More than 85 percent of suicide victims are male.
Around a third of all gun deaths are homicides.
Around two-thirds of homicide victims who are males in the age-group of 15--34 are black.
Women constitue only 15 percent of the total homicide victims.
It's not necessary to generate visualizations for the results -- numbers should be more than enough to convince yourself that you were able to reproduce the results of that article.

# Import

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [182]:
df = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/guns-data/master/interactive_data.csv')

In [183]:
print(df.apply(lambda col: col.unique()))

Unnamed: 0    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
Intent        [None selected, Suicide, Homicide, Accident, U...
Gender                            [None selected, Female, Male]
Age           [None selected, Under 15, 15 - 34, 35 - 64, 65...
Race          [None selected, White, Black, Hispanic, Asian/...
Deaths        [33599, 22079, 7765, 3007, 442, 306, 427, 242,...
Population    [316299978, 197369634, 38896382, 54049078, 163...
Rate          [10.6, 11.2, 20.0, 5.6, 2.7, 3.2, 0.7, 0.8, 1....
dtype: object

In [184]:
print(df['Intent'].unique())
print(df['Age'].unique())
print(df['Race'].unique())

['None selected' 'Suicide' 'Homicide' 'Accident' 'Unknown']
['None selected' 'Under 15' '15 - 34' '35 - 64' '65+' '5']
['None selected' 'White' 'Black' 'Hispanic' 'Asian/Pacific Islander'
 'Other']

In [194]:
data = df.to_numpy()
data = data[:,1:]

#Analysis

In [167]:
#Example of one line of data
data[56]

array(['None selected', 'Female', '35 - 64', 'Black', 270, 7932606, 3.4],
      dtype=object)

In [119]:
#2/3 of gun death are suicidal
def suicide():
  result = 0
  for i in range(data.shape[0]):
    if data[i, 0] == 'Suicide' : 
        result += data[i,4]
  return result/np.sum(data[:,4])

In [ ]:
suicide()

In [144]:
#85% of suicide victimes are males 
def suicide_male():
  result = 0 
  for i in range(data.shape[0]):
    if data[i,0] == 'Suicide':
      if data[i, 1] == 'Male':
        result += data[i,4]
  return result/np.sum(data[:,4])*100

In [145]:
suicide_male()

13.51352356858514

In [153]:
#1/3 all gun deaths are homicide
def homicide():
  result = 0 
  for i in range(data.shape[0]):
    if data[i,0] == 'Homicide':
        result += data[i,4]
  return result/np.sum(data[:,4])

In [155]:
homicide()

0.17450053945459282

In [162]:
#Around two-thirds of homicide victims who are males in the age-group of 15--34 are black
def suicide_male():
  black = 0 
  total = 0 
  for i in range(data.shape[0]):
    if data[i,0] == 'Homicide':
      if data[i, 1] == 'Male' and data[i, 2] == '15 - 34' :
        if data[i, 3] == 'Black' :
          black += data[i,4]
        total += data[i,4]
  return black/total

In [163]:
suicide_male()

0.33064949006977995

In [164]:
#Women constitue only 15 percent of the total homicide victims.
def homicide_women():
  female = 0
  total = 0 
  for i in range(data.shape[0]):
    if data[i,0] == 'Homicide':
      if data[i, 1] == 'Female' :
          female += data[i,4]
      total += data[i,4]
  return female/total*100

In [165]:
homicide_women()

7.640073341292854